.about {
    margin-top: 75px;
    margin-bottom: 200px;
}


.about__content {
    
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.about__container {
    display: flex;
    justify-content: space-between;
}


.about__container:nth-child(2n+1) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.about__container:nth-child(2n+1) .about__col:nth-child(1):after {
    content: '';
    position: absolute;
    height: 85%;
    width: 85%;
    z-index: -1;
    background-color:#6876e0;
    top : -15px;
    right: -15px;
}

.about__container:nth-child(2n) .about__col:nth-child(1):after {
    content: '';
    position: absolute;
    height: 85%;
    width: 85%;
    z-index: -1;
    background-color: #6876e0;
    top : -15px;
    left: -15px;
}





.about__col:nth-child(1) {
    flex: 0 1 43%;
    height: 100%;
}

.about__col:nth-child(1) img {
    display: block;
    width: 100%;
    
}

.about__col {
    position: relative;
}





.about__col:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 55%;
}

.about__col:nth-child(2) h1{
    font-size: 2.5rem;
}

.about__col:nth-child(2) p{
    margin-top: 10px;
    font-size: 1.2rem;
}





