

section {
    margin-top: 50px;
    margin-bottom: 200px;
}


.full__item {
    display: flex;
    justify-content: space-between;
}




.item__title {
    margin-top: 50px;
    font-size: 1.8rem;
}


.item__price {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 15px;
}


.item__sizes {
    margin-top: 10px;
}


.item__details {
    margin-top: 20px;
}

.item__details h2 {
    font-size: 1.8rem;
    font-weight: 500;
}


.item__details p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #5e5652;
}




.add__cart {
    cursor: pointer;
    margin-top: 20px;
    display: block;
    padding: 10px 15px;
    background-color: #098176;
    border: none;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    font-size: 1rem;

}


.item__col:nth-child(1) {
    flex: 0 1 45%;
}

.item__col:nth-child(2) {
    flex: 0 1 50%;
}



.item__img {
    width: 100%;
}


.item__sizes__block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    column-gap: 10px;
    row-gap: 10px;
}

.item__size {
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ebebeb;
    cursor: pointer;
    border-radius: 5px;
    color: #d3d4dd;
    width: 40px;
    height: 40px;

}




.item__sizes__block input[type="radio"] {
    position: relative;
    display: flex;
    font-size: 1.1rem;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    appearance: none;
    width: 40px;
    height: 40px;
    color: #d3d4dd;
    background-color: #ebebeb;

}

.active {
    color: #fff !important;
    font-weight: 700;
    background-color: #098176 !important;
   
}

.item__sizes__block input[type="radio"]::before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    content: attr(data-size);
    text-align: center;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.item__sizes__block  input[type="radio"]:checked::before {
    color: #fff;
    font-weight: 700;
    border: 1px solid black;
}


